[project]
	description = Repo of the Open Source Android library : RoboSpice. RoboSpice is a modular android library that makes writing asynchronous long running tasks easy. It is specialized in network requests, supports caching and offers REST requests out-of-the box using extension modules.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Gaurav Wadhwa (Gauravwdh)
[access "refs/for/refs/*"]
	read = group user/Gaurav Wadhwa (Gauravwdh)
	push = group user/Gaurav Wadhwa (Gauravwdh)
	label-Code-Review = -2..+2 group user/Gaurav Wadhwa (Gauravwdh)
	label-Verified = -1..+1 group user/Gaurav Wadhwa (Gauravwdh)
	rebase = group user/Gaurav Wadhwa (Gauravwdh)
	removeReviewer = group user/Gaurav Wadhwa (Gauravwdh)
	submit = group user/Gaurav Wadhwa (Gauravwdh)
[access "refs/heads/*"]
	read = group user/Gaurav Wadhwa (Gauravwdh)
	create = group user/Gaurav Wadhwa (Gauravwdh)
	push = +force group user/Gaurav Wadhwa (Gauravwdh)
	pushMerge = group user/Gaurav Wadhwa (Gauravwdh)
[access "refs/tags/*"]
	push = +force group user/Gaurav Wadhwa (Gauravwdh)
	pushTag = group user/Gaurav Wadhwa (Gauravwdh)
	pushSignedTag = group user/Gaurav Wadhwa (Gauravwdh)
